  .banner {
  display: flex;
  width: 1200px;
  background-image: url("https://wallpapercave.com/wp/wp2878389.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 300px;

}
