.container-card-bulbasaur:hover{
  color: rgb(1, 82, 23);
  box-shadow: 0px 0px 50px rgb(8, 225, 0);
  border-radius: 10px;
  background-image: url("https://assets.pokemon.com/assets/cms2/img/cards/web/SWSHP/SWSHP_EN_SWSH231.png");
  background-size: cover;
  background-position: center;
}
