.container-card-squirtle:hover{
  color: rgb(1, 82, 23);
  box-shadow: 0px 0px 50px rgb(0, 170, 255);
  border-radius: 10px;
  background-image: url("https://assets.pokemon.com/assets/cms2/img/cards/web/PGO/PGO_EN_15.png");
  background-size: cover;
  background-position: center;
}
